# Learn to Code: Introduction to Python

Brought to you by Galvanize. Learn more about the way we teach at [galvanize.com](http://galvanize.com).


Learn more Python and much more with Galvanize Data Science Premium Prep! Currently free if you sign up now! [http://bit.ly/2u0cahU](http://bit.ly/2u0cahU)

### Comments

In [0]:
# This is a comment. It will not do anything as code
# But it is super useful to document what your code is doing!

### Printing

In [0]:
# Printing an output in python

print("Hello, Galvanize")

Hello, Galvanize

### Variables

Variables are a way to store information. This is super useful! You can then receive or update the variable in your program. You'll see this later!

Think of it as naming a piece of data.

its common in programming languages to have a keyword before the variable such as var or int, but python does not need this.

In [0]:
twitter = "@sagecodes"

print(twitter)

@sagecodes

#### Challenge:
Create a variable called name and assign it your name. Use the print() function to print out the variable value.

In [0]:
# Write you Code Here!

## Interact with users

Getting input from the command line can be useful.

To do that we will use the `input` function. And we want to assign that input to a variable.

`guess = input("enter guess")`

Print will output text to the terminal

```
guess = input("enter guess: ")
print("Your guess was {}".format(guess))
```

In [0]:
input("I'm looking for some input... ")

I'm looking for some input... cool

'cool'

---
### Challenge:

Create a variable called `name` and ask a user for their name using the `input` function.

Print out the name.

### Data Structures(Data Types):

We're going to stick with the basics, so We wont be going over EVERY data type in Python, but you you can read a more comprehensive list [here](https://docs.python.org/3/library/stdtypes.html#dict).  

Feel free to try these different data types out in your code!

#### Numbers:

Numbers are written just like you would think. Just the number! No quotes or symbols to worry about. If you do put quotes around a number it will become a string (see next)

`25` `100`

Multiple, Add, Divide, Compare, remainder

- `5 * 5` | output: 25
- `5 + 5` | output: 10
- `8 / 2` | output: 4
- `8 > 2` | output: true
- `8 % 8` | output: 0

In [0]:
print(5 * 5)
print(5 + 5)
print(8/2)
print(8 > 2)
print(8 % 8)

25
10
4.0
True
0

#### Strings:
Strings can be a collection of letters, symbols and/or numbers. They are made by surrounding the content with quotation marks.

`"Hello, World."`

`"CrAzy Random String 987879896jvdjvda &&(&(@*(*"`

In [0]:
# Three ways of defining a string. 
# make sure you begin and end with same quotation set

singlequote = 'A string in Single quotes!'
doublequote = "A string in Double quotes!"
triplequote = '''A string in Triple single quotes!'''

print(singlequote)
print(doublequote)
print(triplequote)

A string in Single quotes!
A string in Double quotes!
A string in Triple single quotes!

In [0]:
# If you're unsure what data will be in your string
# Triple quotes is the safest to use
# It will prevent a single or double quotation mark breaking the string

triplesafe = '''A string ' in " Triple single quotes!'''
print(triplesafe)

A string ' in " Triple single quotes!

In [0]:
# Can we add strings together? Try it out!
print(singlequote + doublequote)

A string in Single quotes!A string in Double quotes!

##### Variables in strings

Often we will want to add in variables to a string. 

Imagine having someones name, age, etc... populate into a string depending on the user.

As you'll see below there are several ways of doing this!

In [0]:
# Lets create some variables to work with
# Feel Free to change them or create your own!

name = "Alexa"
city = "Seattle"
career = "Programmer"
age = 40

##### Concatenation

You can add variables into string by breaking up the string into bits and adding a varible in between them. 

This gets pretty messy really fast. Its harder to change the sentence in the future, you have to add spaces at teh begining or or ends of strings. You have to convert numbers into strings if you want to use them.

In [0]:

# concatenation 
concatstring =  "Hello, my name is " + name + ". I am " + career + " in " + city + ". I am " + str(age) + " years old."

print(concatstring)

Hello, my name is Alexa. I am Programmer in Seattle. I am 40 years old.

In [0]:
# More common way
placeholderstring =  "Hello, my name is {}. I am a {} in {}. I am {} years old.".format(name, career,city, age)

print(placeholderstring)

Hello, my name is Alexa. I am a Programmer in Seattle. I am 40 years old.

In [0]:
# you can specify which variable is used where
placeholderorder =  "Hello, my name is {2}. I am a {1} in {3}. I am {0} years old.".format(name, career,city, age)

print(placeholderorder)

Hello, my name is Seattle. I am a Programmer in 40. I am Alexa years old.

In [0]:
# Fstring
# My favorite way!

fstring = f"Hello, my name is {name}. I am a {career} in {city}. I am {age} years old."

print(fstring)

Hello, my name is Alexa. I am a Programmer in Seattle. I am 40 years old.

---
### Challenge:

Using the `input()` function ask a user for there name. Then print out a sentence using the name.

#### Booleans:
You can think of Booleans as yes(true) and no(false)

`True` `False`

We'll go into how to use these in a little bit. For now just remember they exist!

#### Lists (Arrays)

Often used to store a list of values.

In [0]:
tvshows = ['West World','Mr. Robot', 'Game of Thrones']
print(tvshows)

['West World', 'Mr. Robot', 'Game of Thrones']

In [0]:
# print single item. Index starts at zero
print(tvshows[0])

West World

In [0]:
# Update an item in an array
tvshows[0] = "killer robots"
print(tvshows[0])
print(tvshows)

killer robots
['killer robots', 'Mr. Robot', 'Game of Thrones', 'FireFly']

In [0]:
# Add to an array
tvshows.append("FireFly")
print(tvshows)

['killer robots', 'Mr. Robot', 'Game of Thrones', 'FireFly', 'FireFly']

In [0]:
# Remove from an array
tvshows.remove("Game of Thrones")
print(tvshows)

['killer robots', 'Mr. Robot', 'FireFly', 'FireFly']

In [0]:
# Or if you want to get rid of a certain part of the list

tvshows.remove(tvshows[0])
print(tvshows)

['Mr. Robot', 'FireFly', 'FireFly']

#### Tuples

Tuples behave a lot like lists, except you cannot change the values later in the code like we did in lists.

In [0]:
tupleshows = ('West World','Mr. Robot', 'Game of Thrones')
print(tvshows)

['Mr. Robot', 'FireFly', 'FireFly']

In [0]:
# you cannot update tuples in your code. They will throw an error.
# Update an item in an array
tupleshows[0] = "killer robots"
print(tvshows)

#### Dictionary (Dict)

Dictionaries can also be used to store values, but they are indexed.

In [0]:
person =	{
  "name": "Bob",
  "age": 50,
  "occupation": 'programmer'
}
print(person)
print(person['name'])

{'name': 'Bob', 'age': 50, 'occupation': 'programmer'}
Bob

In [0]:
# Update

person['name'] = "Ted"
print(person['name'])

Ted

In [0]:
# add 
person['city'] = 'Seattle'  
print(person)

{'name': 'Ted', 'age': 50, 'occupation': 'programmer', 'city': 'Seattle'}

In [0]:
# Remove
del person['age']
print(person)

{'name': 'Ted', 'occupation': 'programmer', 'city': 'Seattle'}

read more about python dictionaries[here](https://www.w3schools.com/python/python_dictionaries.asp).

### Lists + Dicts

In [0]:
# Access a dict inside a list:

list = [{'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6}]
print(list[0]['b'])

2

In [0]:
# Access a list inside of a dict:
d = {'a': 1, 'b': ["hello", "hi", "howdy"]}
print(d['b'][0])

hello

### Challenge:
- make a list `[]` containing your favorite foods.
- update the list adding more item
- remove the first item from the list

- Make dictionary with values about your self.
- update one of the values
- add a new value
- remove one of the values

##### Solution:

## Comparison Operators:
Comparison Operators are used quite frequently in programming. Its a great way to compare and use data.

Again we won't cover ALL of the comparison operators in this workshop, but you can see a full list of them [here](https://docs.python.org/3/library/stdtypes.html#comparisons)

- `==` Equal
- `!=` Not Equal
- `>` Greater Than
- `>=` Greater Than or Equal
- `<` Less Than
- `<=` Less Than or Equal

Example:

`current_score >= highest_score`
This would return a boolean value. Depending on the values of these variables this would return either `True` or `False`. Try it in your console using numbers instead of variables!

In [0]:
print(8 == 8)
print(8 != 8)
print(8 > 2)
print(8 >= 8)
print(8 < 12)
print(8 <= 8)

True
False
True
True
True
True

## Spacing
most of the upcoming examples you'll see parts of the code indented.
This lets python know when blocks of code begin & end. I'll explain as we go through examples. Just remember that spacing is important and it can cause issues with your code working.

## Conditionals

When writing a program you'll often want to check if data meets a certain condition or not. We can use conditionals to make decision about our data and create different outcomes

 In javascript you'll often use the `if` statement. This may be followed by `else if` or `else` depending on how many conditions need to be checked.

Example:

```
 if guess == answer:
      message = "You Win!"
  elif guess < answer:
      message = "Your guess is too low!"
  elif guess > answer:
      message = "your guess is too high!";
  else:
    message = "I think you entered something wrong..."

```

In [0]:
guess = 7
answer = 5

if guess == answer:
  message = "You Win!"
elif guess < answer:
  message = "Your guess is too low!"
elif guess > answer:
  message = "your guess is too high!";
else:
    message = "I think you entered something wrong..."
    
print(message)

### Multiple Conditionals

Use the keyword `and` or `or` between muliple conditionals. 

`or` if you want to run code when either condition is met

`if i == 0 or i == 1:`

`and` if you want to run the code when all conditions are met.

`if i == 0 and x == 4:`

In [0]:
if guess == answer:
  message = "You Win!"

### challenge

- make a variable with with a numerical value. 
- using the `if`, `elif`, and `else` make your program print something different depending on the value in your variable.

## Loops
We're going to go over some of the basic loops in python, but yet again we're not going to cover everything, so you may want to read more about loops [here](https://www.learnpython.org/en/Loops).

Loops are used when you want to repeat something. You can repeat the exact same thing, or change some variable and repeat the action again.

the two common types of loops are `for` and `while`.
`for` loops are often used to run a loop a specified amount of time.

`while` loops are often used to run a loop indefinitely until certain criteria are met.

For loops:

In [0]:
#This `for` loop will run 5 times, and print out the value of `x` to the console. 

for x in range(5):
    print(x)

0
1
2
3
4

For loops are often used to loop through variables containing lists and dicts to get the individual values stored in them. We'll look at this soon!

read more on for loops [here](https://www.w3schools.com/python/python_for_loops.asp)

while loop:

In [0]:
count = 1
while count <= 5:
    print(count)
    count += 1  # This is the same as count = count + 1

1
2
3
4
5

read more on while loops [here](https://www.w3schools.com/python/python_while_loops.asp)

### challenge
[Fizzbuzz](https://en.wikipedia.org/wiki/Fizz_buzz) and variations of it is a popular interview question. 

"From 1 to 100.

For each multiple of 3, print "Fizz" instead of the number. 

For each multiple of 5, print "Buzz" instead of the number. 

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number."

Lets break it down and solve it together!

In [0]:
# Lets do fizzbuzz!
# How should break down this problem and start?

## Iterating

Now that we know about loops lets talk a bit about iteration! 

Many objects may have data we want to iterate through to do something with it. Common iterables: Strings, Lists, Dicts, tuples.

In [0]:
# String

word = "hello"

for x in word:
	print(x)

h
e
l
l
o

In [0]:
#lists:

tvshows = ['West World','Mr. Robot', 'Game of Thrones']

for x in tvshows:
	print(x)

West World
Mr. Robot
Game of Thrones

In [0]:
#Dictionaries 

person =	{
  "name": "Bob",
  "age": 50,
  "occupation": 'programmer'
}

# get the values
for x in person:
	print(person[x])

Bob
50
programmer

In [0]:
# get the keys from dict
for x in person:
	print(x)

name
age
occupation

## Functions
Reduce, Reuse, Recycle

Functions make it easy to reuse code. If you find yourself repeating code you may want to turn it into a function!

Example:
This function takes in two arguments(a, b) and returns the value of them added together.

In [0]:
def add(a, b):
	print(a + b)

to use the function call it by writing its name and open/close parenthesis(). With arguments passed inside the parenthesis():

In [0]:
add(5,5)

10

In [0]:
add(2,5)

7

In this simple example you're not saving a ton of code, but imagine a function that uses many lines of code!

### challenge

Make our fizzbuzz solution a function that takes an input for the range of fizzbuzz

In [0]:
# Here is our previous solution for fizzbuzz. 
# How would we make it a function?
# Lets make it so we can pass a value to the range!


for i in range(1,100):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

### Guessing game

In [0]:
import random

number = random.randint(1, 10)
guess_count = 1
guesses = 5


# start while 
while True:
  
  guess = int(input("Guess the random number between 1 & 10: "))
  
  if guess == number:
    print("You got it! Great job!")
    break
  
  elif guess_count == 5:
    print("you lose")
    break

  elif guess < number:
    print("Try something higher... you have {} guesses remaining!".format(guesses - guess_count))
    guess_count = guess_count + 1
   

  elif guess > number:
    
    print("Try something lower... you have {} guesses remaining!".format(guesses - guess_count))
    guess_count = guess_count + 1

What are some ideas for improvements? 

- Exit on command
- data validation
- input the number range from user
- output grammar depending on number of tries

### Keep learning!


------

Learn more Python and much more with Galvanize Data Science Premium Prep! Currently free if you sign up now! [http://bit.ly/2u0cahU](http://bit.ly/2u0cahU)

Live one-on-one staff support during class hours

Expert-led Python, statistics and probability curriculum

Group feedback on course exercises

Personalized progress updates
[http://bit.ly/2u0cahU](http://bit.ly/2u0cahU)

-------


[PuPPy](https://www.meetup.com/PSPPython/) is an awesome python group in Seattle! 

More learning resources:

- [Galvanize Data Science Prep Course](https://www.galvanize.com/data-science-prep) - FREE | study at your own pace

- [w3schools](https://www.w3schools.com/python/default.asp) | Free

- [Datacamp](https://www.datacamp.com/courses/intro-to-python-for-data-science) | Free

- [codecademy: learn-python](https://www.codecademy.com/learn/learn-python) | Free


- [Treehouse: Learn Python Track](https://teamtreehouse.com/tracks/learn-python) | Paid

- [Udacity Programming Foundations with Python](https://www.udacity.com/course/programming-foundations-with-python--ud036) | Free

## [<< back to git repo >> ](https://github.com/sagecodes/intro-to-python)